<% provide(:title, "Support Policy") %>
<div class="col-sm-9" id="sidebar-mainCol">
  <h1 class="text-blue">Support Policy</h1>
  <p>Oshie is committed to providing a stellar customer experience.
    As an essential part of this commitment, we offer limited free technical
    support to all applications running on the Oshie platform.
    Free technical support is limited to the scope, hours, contacts, and channels below.
  </p>

  <div>
    <h1 class = "text-blue">1. Scope</h1>
    <p>Oshie's free support offering is available only for the technologies
      supported by <%= link_to "Oshie Platform Stack", '#' %>, and is limited
      to the following:
    </p>

    <h2>Installation and Configuration</h2>
    <ul>
      <li>Installation of application dependencies</li>
      <li>Best practices for configuration of supported application dependencies</li>
      <li>General questions about supported software packages</li>
    </ul>

    <h2>Troubleshooting</h2>
    <ul>
      <li>Identifying problems preventing an application from starting or
        running on Oshie</li>
      <li>Providing workarounds or resolutions for known problems</li>
      <li>Answering general how-to questions, and providing pointers to documentation</li>
      <li>Troubleshooting supported software packages showing erratic or faulty
        behavior on Oshie, independent of the user's application code</li>
    </ul>

    <h2>Not Covered</h2>
    <p>Oshie's technical support services do not extend to the following areas:</p>
    <ul>
      <li>General debugging of user applications</li>
      <li>Rewriting application code for compatibility with Oshie</li>
      <li>Modifying and/or patching third party or Open Source software packages
         for compatibility with Oshie</li>
    </ul>
    <p>Oshie does not offer a paid consulting or professional services program,
      but does have an active consulting partner program. If you need help
      choosing our partner, <%= link_to "please get in touch with our sales team.", '#' %></p>
  </div><!-- 1. Scope -->

  <div>
    <h1 class = "text-blue">2. Who can contact support?</h1>
    <p>Limited free technical support is available to all registered users of
      Oshie. Support requests will only be processed if:</p>
    <ul>
      <li>The request is made through one of our official support channels (see below)</li>
      <li>The request originates from a registered Oshie account email address</li>
      <li>The requester has collaborator access to any specific Oshie
        applications pertaining to the request</li>
    </ul>
  </div><!-- 2. Who can contact -->

  <div>
    <h1 class = "text-blue">3. Support Channels</h1>
    <p>Free technical support is available exclusively through the Oshie Support
      Site located at <%= link_to "help.oshie.org", '#' %>.</p>
    <h2>Web</h2>
    <p>Registered Oshie users can <%= link_to "submit new tickets", '#' %>
      and <%= link_to "view history", '#' %> on previously opened tickets.</p>
    <h2>Email</h2>
    <p>If you are unable to log in or access your account, you may submit a ticket
      by sending an e-mail from your Oshie account email address to
      <%= link_to "support@oshie.org", '#' %>.</p>
  </div><!-- 3. Support Channels -->

  <div>
    <h1 class = "text-blue">4. Unofficial Channels</h1>
    <p>Oshie support staff will only respond to support requests received
      through the official channels listed above. However, a number of community
      channels exist for peer-to-peer support and discussion. Community channels
      with active participation from Oshie team members include:</p>
      <ul>
        <li><%= link_to "Oshie Google Group", '#' %></li>
        <li>#oshie IRC channel on freenode</li>
        <li>Twitter via <%= link_to "@oshie", '#' %></li>
      </ul>
    <p>Please remember that Oshie team members may participate in community
      channels at Oshie's discretion, but there is no guarantee of response for
      support issues unless they are submitted through one of the official channels above.</p>
  </div><!-- 4. Unofficial Channels -->

  <div>
    <h1 class = "text-blue">5. Hours</h1>
    <p>Oshie Support offers 12×5 coverage. Hours are 9am - 9pm Eastern Time,
      Monday - Friday, excluding US Holidays. Support inquiries may be submitted
      at any time. 24×7 support is available via our
      <%= link_to "Premium Support package", '#' %>.</p>
    <p>The Oshie Platform itself is monitored 24×7. See Section 6,
      Proactive Monitoring for more details.</p>
  </div><!-- 5. Hours -->

  <div>
    <h1 class = "text-blue">6. Proactive Monitoring</h1>
    <p>The Oshie Cloud Platform is monitored 24×7 by comprehensive automated
      systems. In the event of any issue affecting the health and operation of
      Oshie's infrastructure, core systems, or tools, our dedicated operations
      team is notified and will respond immediately to diagnose and correct any
      issues. This 24×7 monitoring covers the entire Oshie platform,
      benefitting all Oshie users - free as well as paying.</p>
    <p>In the event of a platform issue, a notice will be posted on our platform
       status site at <%= link_to "status.oshie.org", '#' %> to promptly
       communicate the impact and status of any such issue. If there's an ongoing
       platform issue, you do not need to submit a support ticket. Instead,
       monitor the status page which will always be kept up-to-date with the
       latest progress and information.</p>
  </div><!-- 6. Proactive Monitoring -->

  <div>
    <h1 class = "text-blue">7. Premium Support</h1>
    <p>Please <%= link_to "contact us", '#' %> to find out about our
      Premium Support options.</p>
  </div><!-- 7. Premium Support -->

</div><!-- col-sm-9 -->
