<% provide(:title, "Terms of Service") %>
<div class="col-sm-9" id="sidebar-mainCol">
  <h1 class="text-blue">Terms of Service</h1>
  <p>Effective January 1, 2017</p>

  <!-- 1. Your Agreement with Oshie  -->
  <%= render :partial => 'policy/terms/terms1' %>

  <!-- 2. Your Account and Use of the Oshie Services  -->
  <%= render :partial => 'policy/terms/terms2' %>

  <!-- 3. Service Policies and Privacy  -->
  <%= render :partial => 'policy/terms/terms3' %>

  <!-- 4. Fees for Use of the Oshie Services  -->
  <%= render :partial => 'policy/terms/terms4' %>

  <!-- 5. Content on the Oshie Services and Take Down Obligations  -->
  <%= render :partial => 'policy/terms/terms5' %>

  <!-- 6. Content on the Oshie Services and Take Down Obligations  -->
  <%= render :partial => 'policy/terms/terms6' %>

  <!-- 7. License from Oshie and Restrictions  -->
  <%= render :partial => 'policy/terms/terms7' %>

  <!-- 8. License from You  -->
  <%= render :partial => 'policy/terms/terms8' %>

  <!-- 9. License from You  -->
  <%= render :partial => 'policy/terms/terms9' %>

  <!-- 10. Recommendations  -->
  <%= render :partial => 'policy/terms/terms10' %>

  <!-- 11. Recommendations  -->
  <%= render :partial => 'policy/terms/terms11' %>

  <!-- 12. EXCLUSION OF WARRANTIES  -->
  <%= render :partial => 'policy/terms/terms12' %>

  <!-- 13. LIMITATION OF LIABILITY  -->
  <%= render :partial => 'policy/terms/terms13' %>

  <!-- 14. Indemnification  -->
  <%= render :partial => 'policy/terms/terms14' %>

  <!-- 15. Copyright Policy -->
  <%= render :partial => 'policy/terms/terms15' %>

  <!-- 16. Other Content -->
  <%= render :partial => 'policy/terms/terms16' %>

  <!-- 17. Changes to the Terms -->
  <%= render :partial => 'policy/terms/terms17' %>

  <!-- 18. General Legal Terms -->
  <%= render :partial => 'policy/terms/terms18' %>

  <p>This document is an adaptation of the
    <%= link_to "Heroku Terms of Service", 'https://www.heroku.com/policy/tos' %>.
    The original work has been modified. Google, Inc. is not connected with and
    does not sponsor or endorse Heroku or its use of the work.</p>

</div><!-- col-sm-9 -->
