<% provide(:title, 'Update profile') %>

<div class="passwordBox">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
        </div>

        <div class="ibox-content">
          <!-- _form -->
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <!-- FIRST NAME -->
            <div class="form-group" id="form-inputs">
              <%= f.text_field :first_name, autofocus: true, class: 'form-control ',
              placeholder: 'First name'%>
            </div>

            <!-- LAST NAME -->
            <div class="form-group" id="form-inputs">
              <%= f.text_field :last_name, class: 'form-control',
              placeholder: 'Last name'%>
            </div>

            <!-- COMPANY NAME -->
            <div class="form-group" id="form-inputs">
              <%= f.text_field :company_name, class: 'form-control ',
              placeholder: 'Company/Institution name (optional)'%>
            </div>

            <!-- EMAIL -->
            <div class="form-group" id="form-inputs">
              <%= f.email_field :email, class: 'form-control',
              placeholder: 'Email' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <!-- PASSWORD -->
            <div class="form-group" id="form-inputs">
              <%= f.password_field :password, autocomplete: "off",
              class: 'form-control', id: 'Password', placeholder: 'Password' %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
              <div class="progress">
                <div id="StrengthProgressBar" class="progress-bar"></div>
              </div>
            </div>

            <!-- PASSWORD CONFIRMATION -->
            <div class="form-group" id="form-inputs">
              <%= f.password_field :password_confirmation, autocomplete: "off",
              class: 'form-control', placeholder: 'Password confirmation' %>
            </div>

            <!-- CURRENT PASSWORD -->
            <div class="form-group" id="form-inputs">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off",
              class: 'form-control', placeholder: 'Current password' %>
            </div>

            <div class="actions">
              <%= f.submit "Update",
              class: "btn btn-primary block full-width m-b" %>
            </div>
          <% end %>
        </div><!-- ibox-content-->
      </div><!-- ibox -->
    </div><!-- col -->
  </div><!-- row -->
</div><!-- passwordbox -->

<!-- cancel account -->
<div class="passwordBox">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title text-center">
          <h2>Cancel my account</h2>
        </div>
        <div class="ibox-content">
        <center><p>No more Oshie? <%= button_to "Cancel my account",
          registration_path(resource_name), data: { confirm: "Are you sure?" },
           method: :delete, class: "btn btn-danger" %></p><center>
        </div>
      </div>
    </div>
  </div>
</div>
